/* CSS Variables */
:root {
    /* colors */
    --red: #F00;
    --white: #FFF;
    --gold: #EDB726;
    --silver: #A6ABAF;
    --diamond: #4AB2CA;
    --light: #F5F8FC;
    --solitude: #EDF2F9;
    --spindle: #BACDDC;
    --rock-blue: #8A9BB0;
    --bright-grey: #4F5965;
    --summer-sky: #3894DF;
    --wild-watermelon: #FB5B76;

    /* fonts */
    font-size: 16px;
    --texto-pequeno: 300 0.875rem/2 'Roboto', sans-serif;
    --notificacoes: 400 0.875rem 'Roboto', sans-serif;
    --texto-menu: 500 0.875rem 'Roboto', sans-serif;
    --disclaimer: 300 0.75rem 'Roboto', sans-serif;
    --dashboard: 500 0.625rem 'Roboto', sans-serif;
    --titulo: 300 4.375rem/1.1 'Roboto', sans-serif;
    --sub-titulo: 300 1.875rem 'Roboto', sans-serif;
    --button: 400 0.75rem 'Roboto', sans-serif;
    --label: 400 0.75rem 'Roboto', sans-serif;
    --text: 400 0.75rem/2 'Roboto', sans-serif;
    --tabs: 400 0.875rem 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--bright-grey);
}

body {
    line-height: 1.4;
    background: var(--white);
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    position: relative;
    background: var(--light);
}

.button {
    display: table;
    line-height: 2;
    padding: 12px 32px;
    font: var(--button);
    color: var(--white);
    border-radius: 25px;
    text-decoration: none;
    background: var(--rock-blue);
}

.button:hover {
    color: var(--white);
    text-decoration: none;
}

.button-primary {
    background: var(--summer-sky);
}

.button-outlined,
.button-outlined:hover {
    font: var(--menu);
    align-items: center;
    display: inline-flex;
    color: var(--rock-blue);
    background: transparent;
    border: 1px solid var(--rock-blue);
}

.button-outlined .icon {
    width: 28px;
    margin-right: 10px;
}

.button-outlined-danger {
    color: var(--wild-watermelon);
    border: 1px solid var(--wild-watermelon);
}

.button-silver {
    color: var(--silver);
    border: 1px solid var(--silver);
}

.button-gold {
    color: var(--gold);
    border: 1px solid var(--gold);
}

.button-diamond {
    color: var(--diamond);
    border: 1px solid var(--diamond);
}

.button-text,
.button-text:hover {
    padding: 12px 0;
    line-height: 1.5;
    font-size: 1.1rem;
    color: var(--rock-blue);
    background-color: transparent;
}

.button-text img {
    margin-left: 10px;
}

.button-text-danger,
.button-text-danger:hover {
    color: var(--wild-watermelon);
}

.button-full-circle {
    top: 0;
    left: 50%;
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    transform: translate(-50%, -25px);
    box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.2);
}


/* Default Forms */
label {
    margin-bottom: 2px;
}

select,
textarea,
input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--bright-grey);
    border: 1px solid var(--spindle);
}

select {
    padding: 9.5px;
}

input::-webkit-input-placeholder {
    color: var(--spindle);
}

input::-moz-placeholder {
    color: var(--spindle);
}

input:-ms-input-placeholder {
    color: var(--spindle);
}

input:-moz-placeholder {
    color: var(--spindle);
}

.input-group {
    width: 100%;
    display: flex;
    font: var(--label);
    align-items: start;
    flex-direction: column;
    color: var(--rock-blue);
}

.input-group .message {
    width: 100%;
    display: flex;
    margin: 3px 0 10px;
    align-items: center;
    justify-content: space-between;
}

.input-group .message .small-link {
    font: var(--label);
    color: var(--rock-blue);
    text-decoration: none;
}

.input-group .message span {
    opacity: 0;
}

.input-group.error label {
    color: var(--red);
}

.input-group.error .message span {
    opacity: 1;
    color: var(--red);
}

.input-group.error input {
    border: 1px solid var(--red);
}

.input-group .tip {
    width: 100%;
    display: flex;
    margin: 3px 0 10px;
    align-items: center;
    justify-content: space-between;
}

.input-image-upload {
    cursor: pointer;
}

.input-button {
    padding-top: 18px;
}

.form-message {
    margin-top: 15px;
    font: var(--label);
    color: var(--rock-blue);
}

.form-buttons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


/* Custom Radio */
.input-radio input[type=radio] {
    display: none;
}

.input-radio label {
    display: flex;
    margin: 0 0 10px;
    line-height: 1.5;
    align-items: center;
    font: var(--texto-menu);
}

.input-radio label div {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.1s ease-in;
    border: 4px solid #E1E8EE;
    background-color: #E1E8EE;
}

.input-radio input:checked+label div {
    border: 4px solid #B7C72C;
    background-color: #fff;
}


/* Regulamento */
.review-text {
    width: 97.5%;
    height: 400px;
    padding: 20px;
    line-height: 1.5;
    overflow: hidden;
    overflow-y: auto;
    font-size: .75rem;
    margin: 15px 15px 20px;
    color: var(--bright-grey);
    border: 1px solid var(--spindle);
}

.review-text p {
    margin-bottom: 10px;
}


/* Main Default */
.main-area {
    padding: 0;
    background: #fff;
}

.main-area.full-height {
    min-height: 500px;
}


/* Hero Default */
.hero {
    max-width: 560px;
    box-sizing: content-box;
    padding: 60px 100px 40px;
}

.hero .categoria {
    margin: 0;
    color: var(--summer-sky);
}

.hero .titulo {
    margin: 0;
    font: var(--titulo);
    letter-spacing: -4px;
    color: var(--wild-watermelon);
}

.hero .text {
    margin: 15px 0;
    font: var(--texto-pequeno);
}

.hero .text a {
    color: var(--bright-grey);
}

.hero .button {
    margin-top: 30px;
}


/* Header: Login */
.grid-header {
    z-index: 2;
    position: relative;
    transform: translateY(50px);
}

.brand {
    border: none;
    text-decoration: none;
}

.brand-conecta {
    max-width: 240px;
    margin-left: 30px;
}

.brand-essilor {
    bottom: 0;
    max-width: 50px;
    margin-left: 60px;
    position: absolute;
    transform: translateY(-50px);
}


/* Header: Cadastro */
.grid-header-cadastro {
    z-index: 2;
    position: relative;
    transform: translateY(45px);
}

.grid-header-cadastro .brand-essilor {
    right: 0;
    bottom: 0;
    max-width: 50px;
    margin-left: 60px;
    position: absolute;
    transform: translateY(-30px);
}


/* Main: Login */
.grid-form {
    z-index: 1;
    padding-top: 20px;
    position: relative;
}

.grid-form::after {
    right: 0;
    z-index: 3;
    width: 500px;
    height: 600px;
    position: absolute;
    transform: translate(-110px, -20px);
    background: url('../assets/images/dest-homem.png') no-repeat;
    background-position: bottom right;
    background-size: cover;
}


/* Main: Cadastro */
.grid-cadastro {
    z-index: 1;
    padding-top: 20px;
    margin-bottom: 30px;
    position: relative;
}


/* Form: Login */
.login-form {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    box-sizing: content-box;
    padding: 60px 0 40px 100px;
}

.login-form.full-height {
    height: 300px;
}

.login-form .titulo {
    margin-bottom: 30px;
    letter-spacing: -1px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.login-form .icon {
    width: 90px;
    height: 90px;
    margin-bottom: 40px;
}

.login-form .text {
    font: var(--text);
    color: var(--rock-blue);
}

.login-form .input-group {
    width: 100%;
    display: flex;
    font: var(--label);
    align-items: start;
    flex-direction: column;
    color: var(--rock-blue);
}

.login-form .buttons-group {
    display: flex;
    margin-top: 10px;
    align-items: start;
}

.login-form .buttons-group a:not(:last-child) {
    margin-right: 10px;
}

.login-form.new-password {
    max-width: 420px;
}

.login-form.new-password .input-group {
    margin-bottom: 5px;
}

.login-form.new-password .input-group input {
    max-width: 360px;
}

.login-form.new-password .buttons-group {
    margin-top: 0;
}


/* Disclaimer: Login */
.disclaimer {
    padding: 40px 100px;
    letter-spacing: -1px;
    background: var(--solitude);
}

.disclaimer .titulo {
    font: var(--sub-titulo);
    color: var(--rock-blue);

}

.disclaimer .link-text {
    text-decoration: none;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}


/* Footer */
.logos {
    display: flex;
    padding: 30px 0;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.logos li img {
    width: 100%;
    max-width: 125px;
}


footer {
    text-align: center;
    margin-bottom: 50px;
    font: var(--texto-pequeno);
}

footer .brand-menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
    justify-content: space-between;
    border-bottom: 1px solid var(--spindle);
}

footer .brand-menu .menu-footer {
    display: flex;
    list-style: none;
    align-items: center;
}

footer .brand-menu .menu-footer li:not(:first-child) {
    margin-left: 20px;
}

footer .brand-menu .menu-footer li a,
footer .brand-menu .menu-footer li a:hover {
    font: var(--menu);
    text-decoration: none;
    color: var(--rock-blue);
}

/* Footer Login */
footer.footer-login .logos {
    display: flex;
    padding: 30px 0;
    list-style: none;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--spindle);
}


/* Tabs */
.tabs {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.tabs .navigation {
    display: flex;
    padding: 20px 100px 0;
    justify-content: space-between;
    border-top: 1px solid var(--spindle);
}

.tabs .navigation:before {
    left: 0;
    width: 100%;
    content: '';
    position: absolute;
    transform: translateY(38px);
    border-top: 1px solid var(--spindle);
}

.tab-input {
    display: none;
}

.tab-label {
    display: flex;
    cursor: pointer;
    font-weight: 400;
    align-items: center;
    padding-bottom: 10px;
    color: var(--spindle);
    border-bottom: 4px solid transparent;
}

.tab-label.complete {
    color: var(--summer-sky);
}

.tab-label span {
    width: 24px;
    font-weight: 500;
    line-height: 22px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--spindle);
}

.tab-label.complete span {
    color: var(--summer-sky);
    border: 1px solid var(--summer-sky);
}

.tab-input:checked+.tab-label {
    color: var(--wild-watermelon);
    border-bottom: 4px solid var(--wild-watermelon);
}

.tab-input:checked+.tab-label span {
    border: 1px solid var(--wild-watermelon);
}

.tab-panel {
    display: none;
    padding: 25px 100px 50px;
}

.tab-panel.active {
    display: block;
    box-sizing: border-box;
}

.tab-panel .titulo {
    color: var(--spindle);
    font: var(--sub-titulo);
}


/* Header Dashboard */
.header-full {
    width: 100%;
    display: flex;
    padding: 20px 0;
    max-height: 160px;
    position: relative;
    background: url('../assets/images/bg-full-header-azul.png') no-repeat;
    background-position: -40px 0;
    background-size: cover;
}

@media (max-width: 1280px) {
    .header-full {
        background-position: -130px 0;
    }
}

.grid-conecta {
    display: flex;
    align-items: center;
}

.grid-conecta .brand {
    width: 200px;
    height: auto;
}

.user-control {
    display: flex;
    align-items: flex-end;
    margin: 0 50px 0 150px;
}

.user-control .user-avatar {
    width: 80px;
    height: 80px;
    padding: 5px;
    position: relative;
}

.user-control .user-avatar img {
    z-index: 2;
    width: 70px;
    height: 70px;
    object-fit: cover;
    position: relative;
}

.user-control .user-avatar .user-progress {
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--wild-watermelon);
}

.user-control .user-avatar .status-badge {
    z-index: 3;
    padding: 3px;
    display: block;
    line-height: 2.65;
    font-size: 0.55rem;
    position: absolute;
    border-radius: 50%;
    color: var(--white);
    transform: translate(-5px, -5px);
    background: var(--wild-watermelon);
}

.user-control .user-info {
    padding-left: 10px;
}

.user-control .user-info .greetings {
    margin: 0;
    font-weight: 300;
    letter-spacing: -1px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.user-control .user-info .local {
    margin: 0;
    position: relative;
    color: var(--rock-blue);
}

.user-control .user-info .links {
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
}

.user-control .user-info .links a,
.user-control .user-info .links a:hover {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--rock-blue);
}

.user-control .shop-cart {
    padding-left: 15px;
}

.user-control .shop-cart .cart-badge {
    z-index: 3;
    padding: 3px;
    display: block;
    line-height: 1.45;
    font-size: 0.5rem;
    position: relative;
    border-radius: 50%;
    color: var(--white);
    text-align: center;
    transform: translate(10px, 10px);
    background: var(--wild-watermelon);
}


/* User Category */
.user-category {
    display: flex;
}

.user-category .icon-category {
    flex: 0 auto;
}

.user-category .status-category {
    margin: 0;
    font-weight: 300;
    letter-spacing: -1px;
    padding: 0 30px 0 5px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.user-category .status-category span {
    display: block;
    margin: 0 0 -4px;
    letter-spacing: 1px;
    font: var(--dashboard);
    color: var(--rock-blue);
}


/* User Points */
.user-points,
.expires-points {
    display: flex;
    margin: 15px 0 0 30px;
    flex-direction: column;
}

.user-points .title-number,
.expires-points .title-number {
    color: var(--wild-watermelon);
    font: var(--sub-titulo);
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
}

.user-points small,
.expires-points small {
    margin: 0;
    letter-spacing: 1px;
    font: var(--dashboard);
    color: var(--rock-blue);
}


/* Banner Hero: Default */
.hero-default {
    background: url('../assets/images/bg-hero-default.png') no-repeat center top;
    background-size: cover;
    max-height: 300px;
}

.hero-default .featured {
    display: flex;
    padding: 70px 0 120px;
    justify-content: center;
}

.hero-default .featured .titulo {
    margin: 0;
    font: var(--titulo);
    font-size: 3.25rem;
    letter-spacing: -2px;
    color: var(--wild-watermelon);
}


/* Banner Hero: Home */
.hero-programa {
    z-index: 2;
    position: relative;
    background: url('../assets/images/banner-programa.png') no-repeat center top;
    background-size: cover;
    max-height: 500px;
}

.hero-programa .featured {
    max-width: 400px;
    box-sizing: content-box;
    padding: 40px 80px 100px 80px;
}

.hero-programa .featured .categoria {
    margin: 0;
    color: var(--summer-sky);
}

.hero-programa .featured .titulo {
    margin: 0;
    font: var(--titulo);
    color: var(--wild-watermelon);
    letter-spacing: -4px;
}

.hero-programa .featured .text {
    margin: 20px 0 0;
    font: var(--texto-pequeno);
    line-height: 1.5;
}

/* Master Menu */
.header-menu {
    z-index: 5;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--light);
}

.header-menu .button-home {
    width: 50px;
    height: 50px;
    display: flex;
    flex: 0 0 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--spindle);
}

.header-menu .default-nav {
    flex: 1;
    display: flex;
    list-style: none;
}

.header-menu .default-nav li {
    display: flex;
    align-items: stretch;
}

.header-menu .default-nav li a,
.header-menu .default-nav li a:hover {
    display: flex;
    padding: 0 20px;
    font: var(--menu);
    align-items: center;
    text-decoration: none;
}

.header-menu .default-nav li a.active {
    color: var(--white);
    background-color: var(--wild-watermelon);
}

.header-menu .sub-nav {
    display: flex;
    flex: 0 0 320px;
    list-style: none;
    max-width: 320px;
    justify-content: flex-end;
}

.header-menu .sub-nav li {
    width: 50px;
    height: 50px;
    display: flex;
    flex: 0 0 50px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #AABECE;
}

.header-menu .sub-nav li:nth-child(odd) {
    background-color: var(--spindle);
}

.header-menu .sub-nav li .menu-badge {
    z-index: 3;
    display: none;
    line-height: 1.5;
    font-size: 0.5rem;
    position: absolute;
    border-radius: 50%;

    text-align: center;
    background: var(--light);
    color: var(--wild-watermelon);
}


/* Default Content */
.content {
    position: relative;
}

.content .grid-content {
    z-index: 3;
    position: relative;
    transform: translateY(-50px);
    background-color: var(--light);
}

.content .grid-content .review {
    margin: 50px 125px;
    font: var(--text);
}

.content .grid-content .review p.title {
    margin-bottom: 30px;
}

.content .grid-content .instructions {
    padding: 50px;
    text-align: center;
}

.content .grid-content .instructions .titulo {
    margin: 0 0 30px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
    letter-spacing: -1px;
}

.content .grid-content .instructions p {
    font: var(--texto-pequeno);
    line-height: 1.5;
}

.nav-tabela {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.group-cards {
    max-width: 800px;
    margin: 50px auto;
}

.group-cards .titulo {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: -1px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.group-cards .wrapper-cards {
    display: flex;
    flex-wrap: wrap;
}

.group-cards .wrapper-cards .card {
    display: flex;
    flex: 0 0 20%;
    margin: 10px 18px;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0 0 .75em rgba(0, 0, 0, 0.2);
}

.group-cards .wrapper-cards .card .card-header {
    padding: 15px;
}

.group-cards .wrapper-cards .card .card-header h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}

.group-cards .wrapper-cards .card .card-header p {
    max-width: 80%;
    font-size: .75rem;
}

.group-cards .wrapper-cards .card .card-footer {
    padding: 15px;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--silver);
}

.group-cards .wrapper-cards .card .card-footer.is-gold {
    background-color: var(--gold);
}

.group-cards .wrapper-cards .card .card-footer.is-diamond {
    background-color: var(--diamond);
}

.observacao {
    margin: auto;
    max-width: 800px;
    font: var(--text);
    padding: 0 20px 50px;
    line-height: 1.5;
}

/* Programa */
.validade-pontos {
    display: flex;
    padding: 50px 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.resgate-pontos,
.aculular-pontos {
    display: flex;
    padding: 60px 220px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--solitude);
}

.certificados {
    padding: 60px 90px;
    position: relative;
}

.certificados .row [class^=col-],
.validade-pontos .row [class^=col-] {
    display: flex;
    padding: 0 90px;
    align-items: center;
    flex-direction: column;
}

.certificados .row [class^=col-] .card-feature {
    margin: 50px 0;
}

.certificados .row [class^=col-] .list-certificado {}

.validade-pontos .row [class^=col-] .button-outlined {
    margin-bottom: 30px;
}



.resgate-pontos p,
.aculular-pontos p,
.validade-pontos p {
    line-height: 1.65;
    font-size: .875rem;
    text-align: center;
    margin-bottom: 15px;
    color: var(--bright-grey);
}

.resgate-pontos .titulo,
.aculular-pontos .titulo,
.validade-pontos .titulo {
    font-size: 2rem;
    font-weight: 300;
    margin: 20px auto;
    color: var(--wild-watermelon);
}

.seus-pontos {
    background: url('../assets/images/bg-glasses.jpg') no-repeat;
    background-size: cover;
    padding: 120px;
}

.seus-pontos .info {
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.75);
}

.seus-pontos .info h3 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 0 auto 25px;
    color: var(--bright-grey);
}

/* Ordered List */
.lista {
    list-style: none;
    counter-reset: my-counter;
}

.lista li {
    padding: 0 0 30px 50px;
    position: relative;
    counter-increment: my-counter;
}

.lista li::before {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    color: var(--wild-watermelon);
    justify-content: center;
    border: 2px solid var(--wild-watermelon);
    transform: translate(0, 0);
    content: counter(my-counter) "";
}

/* Promoções */
.promo-cards {
    border: 1px solid red;
}