/* CSS Variables */
:root {
    /* colors */
    --red: #F00;
    --white: #FFF;
    --gold: #EDB726;
    --silver: #A6ABAF;
    --success: #7DC855;
    --diamond: #4AB2CA;
    --light: #F5F8FC;
    --solitude: #EDF2F9;
    --spindle: #BACDDC;
    --rock-blue: #8A9BB0;
    --bright-grey: #4F5965;
    --summer-sky: #3894DF;
    --wild-watermelon: #FB5B76;

    /* fonts */
    font-size: 16px;
    --texto-pequeno: 300 0.875rem/2 'Roboto', sans-serif;
    --notificacoes: 400 0.875rem 'Roboto', sans-serif;
    --texto-menu: 500 0.875rem 'Roboto', sans-serif;
    --disclaimer: 300 0.75rem 'Roboto', sans-serif;
    --dashboard: 500 0.625rem 'Roboto', sans-serif;
    --titulo: 300 4.375rem/1.1 'Roboto', sans-serif;
    --sub-titulo: 300 1.875rem 'Roboto', sans-serif;
    --button: 400 0.75rem 'Roboto', sans-serif;
    --label: 400 0.75rem 'Roboto', sans-serif;
    --text: 400 0.75rem/2 'Roboto', sans-serif;
    --tabs: 400 0.875rem 'Roboto', sans-serif;

    /* effects */
    --shadow: .2em .2em .5em 0 rgba(0, 0, 0, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--bright-grey);
}

body {
    line-height: 1.4;
    background: var(--white);
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    position: relative;
    background: var(--light);
}

.button {
    display: table;
    line-height: 2;
    padding: 12px 32px;
    font: var(--button);
    color: var(--white);
    border-radius: 25px;
    text-decoration: none;
    background: var(--rock-blue);
}

.button:hover {
    color: var(--white);
    text-decoration: none;
}

.button-primary {
    background: var(--summer-sky);
}

.button-outlined,
.button-outlined:hover {
    font: var(--menu);
    align-items: center;
    display: inline-flex;
    color: var(--rock-blue);
    background: transparent;
    border: 1px solid var(--rock-blue);
}

.button-outlined:hover {
    color: var(--summer-sky);
    border: 1px solid var(--summer-sky);
}

.button-outlined .icon {
    width: 28px;
    margin-right: 10px;
}

.button-outlined-danger {
    color: var(--wild-watermelon);
    border: 1px solid var(--wild-watermelon);
}

.button-small.active,
.button-outlined-info {
    color: var(--summer-sky);
    border: 1px solid var(--summer-sky);
}

.button-outlined .button-icon {
    margin-right: 5px;
}

.button-small,
.button-small:hover {
    display: table;
    padding: 12px 20px;
    font-size: 0.75rem;
}

.button-silver {
    color: var(--silver);
    border: 1px solid var(--silver);
}

.button-gold {
    color: var(--gold);
    border: 1px solid var(--gold);
}

.button-diamond {
    color: var(--diamond);
    border: 1px solid var(--diamond);
}

.button-text,
.button-text:hover {
    padding: 12px 0;
    line-height: 1.5;
    font-size: 1.1rem;
    color: var(--rock-blue);
    background-color: transparent;
}

.button-text img {
    margin-left: 10px;
}

.button-text-danger,
.button-text-danger:hover {
    color: var(--wild-watermelon);
}

.button-full-circle {
    top: 0;
    left: 50%;
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    transform: translate(-50%, -25px);
    box-shadow: 0 0 .5em 0 rgba(0, 0, 0, 0.2);
}


/* Default Forms */
label {
    margin-bottom: 2px;
}

select,
textarea,
input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--bright-grey);
    border: 1px solid var(--spindle);
}

select {
    padding: 9.5px;
}

input::-webkit-input-placeholder {
    color: var(--spindle);
}

input::-moz-placeholder {
    color: var(--spindle);
}

input:-ms-input-placeholder {
    color: var(--spindle);
}

input:-moz-placeholder {
    color: var(--spindle);
}

.input-group {
    width: 100%;
    display: flex;
    font: var(--label);
    align-items: start;
    flex-direction: column;
    color: var(--rock-blue);
}

.input-group.half {
    width: 50%;
}

.input-group .message {
    width: 100%;
    display: flex;
    margin: 3px 0 10px;
    align-items: center;
    justify-content: space-between;
}

.input-group .message .small-link {
    font: var(--label);
    color: var(--rock-blue);
    text-decoration: none;
}

.input-group .message span {
    opacity: 0;
}

.input-group.error label {
    color: var(--red);
}

.input-group.error .message span {
    opacity: 1;
    color: var(--red);
}

.input-group.error input {
    color: var(--red);
    border: 1px solid var(--red);
}

.input-group.info label {
    color: var(--summer-sky);
}

.input-group.info input {
    color: var(--summer-sky);
    border: 1px solid var(--summer-sky);
}

.input-group .tip {
    width: 100%;
    display: flex;
    margin: 3px 0 10px;
    align-items: center;
    justify-content: space-between;
}

.input-image-upload {
    cursor: pointer;
}

.input-button {
    padding-top: 18px;
}

.form-message {
    margin-top: 15px;
    font: var(--label);
    color: var(--rock-blue);
}

.form-buttons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


/* Custom Radio */
.input-radio input[type=radio] {
    display: none;
}

.input-radio label {
    display: flex;
    margin: 0 0 10px;
    line-height: 1.5;
    align-items: center;
    font: var(--texto-menu);
}

.input-radio label div {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.1s ease-in;
    border: 4px solid #E1E8EE;
    background-color: #E1E8EE;
}

.input-radio input:checked+label div {
    border: 4px solid var(--success);
    background-color: var(--white);
}


/* Regulamento */
.review-text {
    width: 97.5%;
    height: 400px;
    padding: 20px;
    line-height: 1.5;
    overflow: hidden;
    overflow-y: auto;
    font-size: .75rem;
    margin: 15px 15px 20px;
    color: var(--bright-grey);
    border: 1px solid var(--spindle);
}

.review-text p {
    margin-bottom: 10px;
}


/* Main Default */
.main-area {
    padding: 0;
    background: #fff;
}

.main-area.full-height {
    min-height: 500px;
}


/* Hero Default */
.hero {
    max-width: 560px;
    box-sizing: content-box;
    padding: 60px 100px 40px;
}

.hero .categoria {
    margin: 0;
    color: var(--summer-sky);
}

.hero .titulo {
    margin: 0;
    font: var(--titulo);
    letter-spacing: -4px;
    color: var(--wild-watermelon);
}

.hero .text {
    margin: 15px 0;
    font: var(--texto-pequeno);
}

.hero .text a {
    color: var(--bright-grey);
}

.hero .button {
    margin-top: 30px;
}


/* Header: Login */
.grid-header {
    z-index: 2;
    position: relative;
    transform: translateY(50px);
}

.brand {
    border: none;
    text-decoration: none;
}

.brand-conecta {
    max-width: 240px;
    margin-left: 30px;
}

.brand-essilor {
    bottom: 0;
    max-width: 50px;
    margin-left: 60px;
    position: absolute;
    transform: translateY(-50px);
}


/* Header: Cadastro */
.grid-header-cadastro {
    z-index: 2;
    position: relative;
    transform: translateY(45px);
}

.grid-header-cadastro .brand-essilor {
    right: 0;
    bottom: 0;
    max-width: 50px;
    margin-left: 60px;
    position: absolute;
    transform: translateY(-30px);
}


/* Main: Login */
.grid-form {
    z-index: 1;
    padding-top: 20px;
    position: relative;
}

.grid-form::after {
    right: 0;
    z-index: 3;
    width: 500px;
    height: 600px;
    position: absolute;
    transform: translate(-110px, -20px);
    background: url('../assets/images/dest-homem.png') no-repeat;
    background-position: bottom right;
    background-size: cover;
}


/* Main: Cadastro */
.grid-cadastro {
    z-index: 1;
    padding-top: 20px;
    margin-bottom: 30px;
    position: relative;
}


/* Form: Login */
.login-form {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    box-sizing: content-box;
    padding: 60px 0 40px 100px;
}

.login-form.full-height {
    height: 300px;
}

.login-form .titulo {
    margin-bottom: 30px;
    letter-spacing: -1px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.login-form .icon {
    width: 90px;
    height: 90px;
    margin-bottom: 40px;
}

.login-form .text {
    font: var(--text);
    color: var(--rock-blue);
}

.login-form .input-group {
    width: 100%;
    display: flex;
    font: var(--label);
    align-items: start;
    flex-direction: column;
    color: var(--rock-blue);
}

.login-form .buttons-group {
    display: flex;
    margin-top: 10px;
    align-items: start;
}

.login-form .buttons-group a:not(:last-child) {
    margin-right: 10px;
}

.login-form.new-password {
    max-width: 420px;
}

.login-form.new-password .input-group {
    margin-bottom: 5px;
}

.login-form.new-password .input-group input {
    max-width: 360px;
}

.login-form.new-password .buttons-group {
    margin-top: 0;
}


/* Disclaimer: Login */
.disclaimer {
    padding: 40px 100px;
    letter-spacing: -1px;
    background: var(--solitude);
}

.disclaimer .titulo {
    font: var(--sub-titulo);
    color: var(--rock-blue);

}

.disclaimer .link-text {
    text-decoration: none;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}


/* Footer */
.logos {
    display: flex;
    padding: 30px 0;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.logos li img {
    width: 100%;
    max-width: 125px;
}


footer {
    text-align: center;
    margin-bottom: 50px;
    font: var(--texto-pequeno);
}

footer .brand-menu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
    justify-content: space-between;
    border-bottom: 1px solid var(--spindle);
}

footer .brand-menu .menu-footer {
    display: flex;
    list-style: none;
    align-items: center;
}

footer .brand-menu .menu-footer li:not(:first-child) {
    margin-left: 20px;
}

footer .brand-menu .menu-footer li a,
footer .brand-menu .menu-footer li a:hover {
    font: var(--menu);
    text-decoration: none;
    color: var(--rock-blue);
}

/* Footer Login */
footer.footer-login .logos {
    display: flex;
    padding: 30px 0;
    list-style: none;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--spindle);
}


/* Tabs */
.tabs {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.tabs .navigation {
    display: flex;
    padding: 20px 100px 0;
    justify-content: space-between;
    border-top: 1px solid var(--spindle);
}

.tabs .navigation:before {
    left: 0;
    width: 100%;
    content: '';
    position: absolute;
    transform: translateY(38px);
    border-top: 1px solid var(--spindle);
}

.tab-input {
    display: none;
}

.tab-label {
    display: flex;
    cursor: pointer;
    font-weight: 400;
    align-items: center;
    padding-bottom: 10px;
    color: var(--spindle);
    border-bottom: 4px solid transparent;
}

.tab-label.complete {
    color: var(--summer-sky);
}

.tab-label span {
    width: 24px;
    font-weight: 500;
    line-height: 22px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--spindle);
}

.tab-label.complete span {
    color: var(--summer-sky);
    border: 1px solid var(--summer-sky);
}

.tab-input:checked+.tab-label {
    color: var(--wild-watermelon);
    border-bottom: 4px solid var(--wild-watermelon);
}

.tab-input:checked+.tab-label span {
    border: 1px solid var(--wild-watermelon);
}

.tab-panel {
    display: none;
    padding: 25px 100px 50px;
}


/* Tabs Pontos */
.tabs.tabs-pontos {
    width: 100%;
    overflow: hidden;
    max-width: 850px;
    border-radius: 6px;
    margin: 0 auto 70px;
    background-color: var(--white);
    box-shadow: 0 5px .5rem 0 rgba(0, 0, 0, 0.1);
}

.tabs.tabs-pontos .navigation {
    border: none;
    display: flex;
    padding: 20px 100px 0;
    justify-content: space-between;
}

.tabs.tabs-pontos .navigation:before {
    left: 50%;
    content: '';
    width: 850px;
    position: absolute;
    transform: translate(-50%, 40px);
    border-top: 1px solid var(--spindle);
}

.tabs.tabs-pontos .navigation .tab-label {
    display: flex;
    cursor: pointer;
    font-weight: 400;
    align-items: center;
    padding-bottom: 12px;
    color: var(--spindle);
    border-bottom: 4px solid transparent;
}

.tabs.tabs-pontos .tab-label span {
    width: 24px;
    height: 24px;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--spindle);
}

.tabs.tabs-pontos .tab-label.complete span {
    color: var(--summer-sky);
    border: 1px solid var(--summer-sky);
}

.tabs.tabs-pontos .tab-input:checked+.tab-label {
    color: var(--wild-watermelon);
    border-bottom: 4px solid var(--wild-watermelon);
}

.tabs.tabs-pontos .tab-input:checked+.tab-label span {
    border: 1px solid var(--wild-watermelon);
}

.tab-panel.tab-pontos {
    display: none;
    padding: 40px;
}

.tab-panel.active,
.tab-panel.tab-pontos.active {
    display: block;
    box-sizing: border-box;
}

.tab-panel .titulo {
    color: var(--spindle);
    font: var(--sub-titulo);
}

.tab-pontos .titulo {
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: -1px;
    color: var(--rock-blue);
}

.tab-pontos .titulo span {
    font-weight: 500;
    color: var(--summer-sky);
}

.tab-pontos .titulo.titulo-danger {
    color: var(--wild-watermelon);
    font: var(--sub-titulo);
}

.tab-pontos .titulo.titulo-danger span {
    color: var(--bright-grey);
    letter-spacing: normal;
    font-weight: 300;
    font-size: .9rem;
    margin-top: 10px;
    display: block;
}

.tab-pontos .wrapper-cols {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.tab-pontos .wrapper-cols .card-col {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: space-between;
}

.tab-pontos .wrapper-cols .card-col .button {
    margin: 20px 0;
}

.tab-pontos .wrapper-form {
    display: flex;
    margin: 40px 0 60px;
    align-items: center;
    flex-direction: column;
}

.tab-pontos .wrapper-form .input-group {
    margin-bottom: 20px;
}

.tab-pontos .wrapper-form .message-error {
    margin-top: 20px;
    color: var(--wild-watermelon);
}

.tab-pontos .wrapper-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tab-pontos .wrapper-content .table-pontos {
    width: 95%;
    margin: 0 0 40px;
    border: 1px solid var(--spindle);
}

.tab-pontos .wrapper-content .table-pontos tr th {
    padding: 10px;
    color: var(--white);
    background-color: var(--spindle);
}

.tab-pontos .wrapper-content .table-pontos tr td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    color: var(--bright-grey);
}

.tab-pontos .wrapper-content .table-pontos tr td.total-pontos {
    font-size: 1.75rem;
    letter-spacing: -1px;
    color: var(--wild-watermelon);   
}


/* Header Dashboard */
.header-full {
    width: 100%;
    display: flex;
    padding: 20px 0;
    max-height: 160px;
    position: relative;
    background: url('../assets/images/bg-full-header-azul.png') no-repeat;
    background-position: -40px 0;
    background-size: cover;
}

@media (max-width: 1280px) {
    .header-full {
        background-position: -130px 0;
    }
}

.grid-conecta {
    display: flex;
    align-items: center;
}

.grid-conecta .brand {
    width: 200px;
    height: auto;
}

.user-control {
    display: flex;
    align-items: flex-end;
    margin: 0 50px 0 150px;
}

.user-control .user-avatar {
    width: 80px;
    height: 80px;
    padding: 5px;
    position: relative;
}

.user-control .user-avatar img {
    z-index: 2;
    width: 70px;
    height: 70px;
    object-fit: cover;
    position: relative;
}

.user-control .user-avatar .user-progress {
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--wild-watermelon);
}

.user-control .user-avatar .status-badge {
    z-index: 3;
    padding: 3px;
    display: block;
    line-height: 2.65;
    font-size: 0.55rem;
    position: absolute;
    border-radius: 50%;
    color: var(--white);
    transform: translate(-5px, -5px);
    background: var(--wild-watermelon);
}

.user-control .user-info {
    padding-left: 10px;
}

.user-control .user-info .greetings {
    margin: 0;
    font-weight: 300;
    letter-spacing: -1px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.user-control .user-info .local {
    margin: 0;
    position: relative;
    color: var(--rock-blue);
}

.user-control .user-info .links {
    display: flex;
    padding-top: 8px;
    justify-content: space-between;
}

.user-control .user-info .links a,
.user-control .user-info .links a:hover {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--rock-blue);
}

.user-control .shop-cart {
    padding-left: 15px;
}

.user-control .shop-cart .cart-badge {
    z-index: 3;
    padding: 3px;
    display: block;
    line-height: 1.45;
    font-size: 0.5rem;
    position: relative;
    border-radius: 50%;
    color: var(--white);
    text-align: center;
    transform: translate(10px, 10px);
    background: var(--wild-watermelon);
}


/* User Category */
.user-category {
    display: flex;
}

.user-category .icon-category {
    flex: 0 auto;
}

.user-category .status-category {
    margin: 0;
    font-weight: 300;
    letter-spacing: -1px;
    padding: 0 30px 0 5px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.user-category .status-category span {
    display: block;
    margin: 0 0 -4px;
    letter-spacing: 1px;
    font: var(--dashboard);
    color: var(--rock-blue);
}


/* User Points */
.user-points,
.expires-points {
    display: flex;
    margin: 15px 0 0 30px;
    flex-direction: column;
}

.user-points .title-number,
.expires-points .title-number {
    color: var(--wild-watermelon);
    font: var(--sub-titulo);
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
}

.user-points small,
.expires-points small {
    margin: 0;
    letter-spacing: 1px;
    font: var(--dashboard);
    color: var(--rock-blue);
}


/* Banner Hero: Default */
.hero-default {
    background: url('../assets/images/bg-hero-default.png') no-repeat center top;
    background-size: cover;
    max-height: 300px;
}

.hero-default .featured {
    display: flex;
    padding: 70px 0 120px;
    justify-content: center;
}

.hero-default .featured .titulo {
    margin: 0;
    font: var(--titulo);
    font-size: 3.25rem;
    letter-spacing: -2px;
    color: var(--wild-watermelon);
}


/* Slider */
.slides {
    padding: 0;
    position: relative;
}
.slides .slide {
    height: 400px;
    position: relative;
}

.slides .slide .content {
    left: 50%;
    position: absolute;
    display: inline-block;
    transform: translate(-50%, 30px);
}

.slides .slide .content .titulo {
    margin: 0;
    max-width: 280px;
    font: var(--titulo);
    font-size: 3.25rem;
    line-height: 1;
    letter-spacing: -2px;
    color: var(--wild-watermelon);
}

.slides .slide .content .text {
    font-size: 0.75rem;
    line-height: 1.75;
    max-width: 280px;
    margin: 15px 0;
}

.button-circle-icon {
    padding: 0;
    z-index: 5;
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.button-circle-icon.left {
    top: 50%;
    transform: translate(10px, -50%);
}

.button-circle-icon.right {
    top: 50%;
    right: 0;
    transform: translate(-10px, -50%);
}

.button-circle-icon.right svg {
    transform: rotate(-180deg);
}


/* Banner Hero */
.hero-home,
.hero-selos,
.hero-missoes,
.hero-academy,
.hero-programa {
    z-index: 2;
    position: relative;
    background: url('../assets/images/banner-programa.png') no-repeat center top;
    background-size: cover;
    max-height: 500px;
}

.hero-home {
    background: url('../assets/images/banner-home.jpg') no-repeat center top;
    background-size: cover;
    position: relative;
    max-height: 460px;
}

.hero-missoes {
    background: url('../assets/images/banner-missoes.jpg') no-repeat center top;
    background-size: cover;
}

.hero-selos {
    background: url('../assets/images/banner-selos.jpg') no-repeat center top;
    background-size: cover;
}

.hero-academy {
    background: url('../assets/images/banner-academy.jpg') no-repeat center top;
    background-size: cover;
}

.hero-selos .featured,
.hero-missoes .featured,
.hero-academy .featured,
.hero-programa .featured {
    max-width: 400px;
    box-sizing: content-box;
    padding: 40px 80px 100px 80px;
}

.hero-academy .featured.centered {
    display: flex;
    max-width: 100%;
    max-height: 500px;
    align-items: center;
    justify-content: center;
    padding: 60px 0 100px;
}

.hero-academy .featured.centered .logo-academy {
    width: 420px;
    height: auto;
}

.hero-selos .featured .categoria,
.hero-missoes .featured .categoria,
.hero-programa .featured .categoria {
    margin: 0;
    color: var(--summer-sky);
}

.hero-selos .featured .titulo,
.hero-missoes .featured .titulo,
.hero-programa .featured .titulo {
    margin: 0;
    font: var(--titulo);
    color: var(--wild-watermelon);
    letter-spacing: -4px;
}

.hero-selos .featured .text,
.hero-missoes .featured .text,
.hero-programa .featured .text {
    margin: 20px 0 0;
    font: var(--texto-pequeno);
    line-height: 1.5;
}

.hero-missoes .featured .text {
    width: 80%;
}

.hero-selos .featured .text {
    margin-bottom: 20px;
    width: 55%;
}

[class^='hero'] .grid {
    overflow: unset;
}

/* Master Menu */
.header-menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--light);
}

.header-menu .button-home {
    width: 50px;
    height: 50px;
    display: flex;
    flex: 0 0 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--spindle);
}

.header-menu .default-nav {
    flex: 1;
    display: flex;
    list-style: none;
}

.header-menu .default-nav li {
    display: flex;
    align-items: stretch;
}

.header-menu .default-nav li a,
.header-menu .default-nav li a:hover {
    display: flex;
    padding: 0 20px;
    font-weight: 500;
    font-size: 0.875rem;
    align-items: center;
    text-decoration: none;
    color: var(--rock-blue);
    border-bottom: 4px solid transparent;
}

.header-menu .default-nav li a:hover {
    border-bottom: 4px solid var(--wild-watermelon);
}

.header-menu .default-nav li a.active {
    font-weight: bold;
    color: var(--white);
    background-color: var(--wild-watermelon);
}

.header-menu .sub-nav {
    display: flex;
    flex: 0 0 320px;
    list-style: none;
    max-width: 320px;
    justify-content: flex-end;
}

.header-menu .sub-nav li {
    width: 50px;
    height: 50px;
    display: flex;
    flex: 0 0 50px;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #AABECE;
}

.header-menu .sub-nav li:nth-child(odd) {
    background-color: var(--spindle);
}

.header-menu .sub-nav li .menu-badge {
    top: 3px;
    right: 3px;
    z-index: 3;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: .8rem;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: var(--light);
    color: var(--wild-watermelon);
}

.header-menu .sub-nav li .label-text {
    display: none;
    font-weight: 500;
    padding-left: 10px;
    color: var(--white);
}

.header-menu .sub-nav li.active {
    flex: 1;
    cursor: default;
    padding-left: 10px;
    color: var(--white);
    justify-content: flex-start;
    background-color: var(--wild-watermelon);
}

.header-menu .sub-nav li.active .menu-badge {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.header-menu .sub-nav li.active .label-text {
    display: inline-table;
}

.header-menu .box-badges,
.header-menu .box-notification {
    right: 0;
    width: 320px;
    display: none;
    background-color: var(--white);
    box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.1);
}

.header-menu .box-badges {
    padding: 20px;
}

.header-menu .box-notification .item {
    padding: 20px;
    display: flex;
    align-items: center;
    color: var(--rock-blue);
    font: var(--texto-pequeno);
    background-color: var(--white);
}
.header-menu .box-notification .item.new {
    color: var(--bright-grey);
    background-color: var(--light);
}

.header-menu .box-notification .item .avatar {
    flex: 0 auto;
}

.header-menu .box-notification .item .mensagem {
    flex: 1;
    font-size: .8rem;
    line-height: 1.15;
    padding-left: 20px;
}
.header-menu .box-notification .item .mensagem a,
.header-menu .box-notification .item .mensagem a:hover {
    color: var(--wild-watermelon);
    text-decoration: underline;
}
.header-menu .box-notification .item .mensagem small {
    font: var(--text);
    font-weight: bold;
    color: var(--wild-watermelon);
}

.header-menu .box-badges.active,
.header-menu .box-notification.active {
    right: 0;
    z-index: 10;
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translateY(50px);
}

.header-menu .box-badges.active {
    display: grid;
}


/* Default Content */
.content {
    position: relative;
}

.content .grid-content {
    z-index: 2;
    position: relative;
    transform: translateY(-50px);
    background-color: var(--light);
}

.content .grid-content .review {
    margin: 50px 125px;
    font: var(--text);
}

.content .grid-content .review p.title {
    margin-bottom: 30px;
}

.content .grid-content .actions {
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 820px;
    padding: 30px 0 50px;
    justify-content: center;
}

.content .grid-content .instructions {
    padding: 50px;
    text-align: center;
}

.content .grid-content .instructions .data {
    margin-bottom: 10px;
}

.content .grid-content .instructions .titulo {
    margin: 0 0 30px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
    letter-spacing: -1px;
}

.content .grid-content .instructions p {
    font: var(--texto-pequeno);
    line-height: 1.5;
}

.nav-tabela {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

.group-cards {
    max-width: 800px;
    margin: 50px auto;
}

.group-cards .titulo {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: -1px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.group-cards .wrapper-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.group-cards .wrapper-cards .card {
    display: flex;
    flex: 0 0 160px;
    margin: 10px 18px;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0 0 .75em rgba(0, 0, 0, 0.2);
}

.group-cards .wrapper-cards .card .card-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.group-cards .wrapper-cards .card .card-header h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}

.group-cards .wrapper-cards .card .card-header p {
    max-width: 80%;
    font-size: .75rem;
}

.group-cards .wrapper-cards .card .card-footer {
    padding: 15px;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--silver);
}

.group-cards .wrapper-cards .card .card-footer.is-gold {
    background-color: var(--gold);
}

.group-cards .wrapper-cards .card .card-footer.is-diamond {
    background-color: var(--diamond);
}

.observacao {
    margin: auto;
    max-width: 800px;
    font: var(--text);
    padding: 0 20px 50px;
    line-height: 1.5;
}

/* Programa */
.validade-pontos {
    display: flex;
    padding: 50px 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.resgate-pontos,
.aculular-pontos {
    display: flex;
    padding: 60px 220px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--solitude);
}

.certificados {
    padding: 60px 120px;
    position: relative;
}

.certificados .row [class^=col-],
.validade-pontos .row [class^=col-] {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.validade-pontos .row [class^=col-] {
    padding: 0 50px;
}

.certificados .row [class^=col-] .card-feature {
    margin: 50px 0;
}

.validade-pontos .row [class^=col-] .button-outlined {
    margin-bottom: 30px;
}



.resgate-pontos p,
.aculular-pontos p,
.validade-pontos p {
    line-height: 1.65;
    font-size: .875rem;
    text-align: center;
    margin-bottom: 15px;
    color: var(--bright-grey);
}

.resgate-pontos .titulo,
.aculular-pontos .titulo,
.validade-pontos .titulo {
    font-size: 2rem;
    font-weight: 300;
    margin: 20px auto;
    color: var(--wild-watermelon);
}

.seus-pontos {
    background: url('../assets/images/bg-glasses.jpg') no-repeat;
    background-size: cover;
    padding: 120px;
}

.seus-pontos .info {
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.75);
}

.seus-pontos .info h3 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 0 auto 25px;
    color: var(--bright-grey);
}

/* Ordered List */
.lista {
    list-style: none;
    counter-reset: my-counter;
}

.lista li {
    padding: 0 0 30px 50px;
    position: relative;
    counter-increment: my-counter;
}

.lista li::before {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    color: var(--wild-watermelon);
    justify-content: center;
    border: 2px solid var(--wild-watermelon);
    transform: translate(0, 0);
    content: counter(my-counter) "";
}

.lista-certificado {
    max-width: 300px;
}

/* Promoções */
.promo-cards {
    max-width: 800px;
    margin: 50px auto;
}

.promo-cards .titulo {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: -1px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.promo-cards .text {
    font-size: 1rem;
    line-height: 1.75;
    text-align: center;
    color: var(--bright-grey);
}

.promo-cards .wrapper-cards .card {
    display: flex;
    cursor: pointer;
    margin-bottom: 25px;
    align-items: stretch;
    background-color: var(--white);
    box-shadow: 0 0 .75em 0 rgba(0, 0, 0, 0.1);
}

.promo-cards .wrapper-cards .card .image {
    flex: 0 0 250px;
    min-height: 250px;
    background-size: cover; 
}

.promo-cards .wrapper-cards .card .content {
    flex: 1;
    padding: 30px;
}

.promo-cards .wrapper-cards .card .content h2 {
    font: var(--sub-titulo);
    margin-bottom: 20px;
}

.promo-cards .wrapper-cards .card .content p {
    color: var(--rock-blue);
    font: var(--texto-menu);
    margin-bottom: 10px; 
    font-weight: 300;
}


/* Fale Conosco */
.fale-conosco-form {
    max-width: 820px;
    margin: 50px auto;
}

.fale-conosco-form section.box-form {
    margin: 30px auto 0;
}

.fale-conosco-form section.box-form .actions {
    display: flex;
    justify-content: center;
}

.fale-conosco-form.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fale-conosco-form .titulo {
    margin-bottom: 20px;
    letter-spacing: -1px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.fale-conosco-form .text {
    color: var(--rock-blue);
}

.fale-conosco-form.centered .text {
    font-size: 1rem;
    line-height: 1.75;
    text-align: center;
}

.fale-conosco-form.centered .icon-check {
    margin: 50px auto;
}

    
/* Home */
.content .grid-home {
    z-index: 2;
    overflow: unset;
    position: relative;
    transform: translateY(-50px);
    background-color: var(--light);
}


.home-main-menu {
    display: flex;
    position: relative;
    padding: 20px 40px;
    justify-content: space-evenly;
}

.home-main-menu:before {
    content: '';
    width: 102.5%;
    position: absolute;
    border-radius: 10px;
    height: calc(90% - 1px);
    border: 1px solid var(--rock-blue);
}

.home-main-menu .item {
    display: flex;
    position: relative;
    text-decoration: none;
    flex-direction: column;
}

.home-main-menu .item:after {
    top: 50%;
    right: 0;
    content: '';
    width: 1px;
    height: 60px;
    position: absolute;
    transform: translate(50px, -50%);
    background-color: var(--spindle);
}

.home-main-menu .item:last-child:after {
    display: none
}

.home-main-menu .item .icon-badge {
    display: flex;
    padding: 20px 0;
    position: relative;
    justify-content: center;
}

.home-main-menu .item .icon-badge .icon {
    width: 60px;
    height: 60px;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
}

.home-main-menu .item .icon-badge .icon .badge {
    right: 0;
    top: 12px;
    z-index: 3;
    width: 25px;
    height: 25px;
    display: flex;
    font-size: .8rem;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    color: var(--white);
    align-items: center;
    transform: translateX(3px);
    justify-content: center;
    background-color: var(--wild-watermelon);
}

.home-main-menu .item .group-text h2 {
    margin: 0;
    line-height: 1;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    color: var(--wild-watermelon);
}

.home-main-menu .item .group-text small {
    color: var(--rock-blue);
}


/* Conteúdo Home */
.wrapper-blocks {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.wrapper-blocks .two-cols-block {
    display: flex;
}

.wrapper-blocks .two-cols-block .left-col {
    flex: 0 0 300px;
    margin-right: 20px;
}

.wrapper-blocks .two-cols-block .right-col {
    flex: 1;
}


/* Performance */
.performance {
    margin-bottom: 20px;
    background-color: var(--white);
}

.performance .accordeon-title {
    height: 40px;
    display: flex;
    padding: 0 20px;
    color: var(--white);
    background-color: var(--wild-watermelon);
}

.performance .accordeon-title .info {
    display: flex;
    flex: 0 0 260px;
    min-width: 260px;
    align-items: center;
    padding-right: 15px;
    position: relative;
}

.performance .accordeon-title .info h3 {
    font-size: 1.2rem;
    font-weight: 300;
}

.performance .accordeon-title .info .icon-performance {
    margin-right: 10px;
}

.performance .accordeon-title .info .icon-expandir {
    right: 15px;
    position: absolute;
    transform: rotate(-180deg);
}

.performance.active .accordeon-title .info .icon-expandir {
    transform: rotate(0deg);
}

.performance.active .accordeon-title .navigation {
    flex: 1;
    opacity: 1;
    display: flex;
    list-style: none;
    padding-left: 15px;
}

.performance .accordeon-title .navigation {
    opacity: 0;
}

.performance .accordeon-title .navigation li {
    display: flex;
    margin-right: 20px;
    align-items: stretch;
}

.performance .accordeon-title .navigation li a {
    padding: 0;
    display: flex;
    font-weight: bold;
    font-size: 0.85rem;
    color: var(--white);
    align-items: center;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.performance .accordeon-title .navigation li a:hover,
.performance .accordeon-title .navigation li a.active {
    border-bottom: 2px solid var(--white);
}

.performance .accordeon-content {
    padding: 20px;
    display: none;
}

.performance.active .accordeon-content {
    display: flex;
}

.performance.active .accordeon-content .box-categoria {
    flex: 0 0 260px;
    min-width: 260px;
}

.performance.active .accordeon-content .box-categoria small,
.performance.active .accordeon-content .box-dados .metas .item small {
    margin: 0;
    font-size: 0.675rem;
    color: var(--rock-blue);
}

.performance.active .accordeon-content .box-categoria h2,
.performance.active .accordeon-content .box-dados .metas .item h3 {
    margin: 0;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.performance.active .accordeon-content .box-dados {
    display: flex;
    padding-left: 15px;
}

.performance.active .accordeon-content .box-dados .metas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.performance.active .accordeon-content .box-dados .donut-chart {
    padding: 0 30px;
}

.performance.active .accordeon-content .box-dados .data-info {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.performance.active .accordeon-content .box-dados .data-info p {
    max-width: 50%;
    font-size: 0.75rem;
    color: var(--rock-blue);
}

.performance.active .accordeon-content .box-dados .data-info .data small {
    font-size: 0.75rem;
    color: var(--wild-watermelon);
}

.performance.active .accordeon-content .box-dados .data-info .data span {
    font-size: 0.875rem;
    color: var(--rock-blue);
}

.performance.active .accordeon-content .box-dados .data-info .data h3 {
    margin: 0;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}


/* Performance: Semestral */
.performance.active .accordeon-content .box-dados .first-sem {
    display: flex;
    margin-right: 40px;
    padding-right: 40px;
    border-right: 1px solid var(--spindle); 
}

.performance.active .accordeon-content .box-dados .second-sem {
    display: flex;
}

.performance.active .accordeon-content .box-dados .first-sem .date,
.performance.active .accordeon-content .box-dados .second-sem .date {
    display: flex;
    flex-direction: column;
    color: var(--rock-blue);
    justify-content: space-between;
}

.performance.active .accordeon-content .box-dados .first-sem .category small,
.performance.active .accordeon-content .box-dados .second-sem .category small {
    font-size: .75rem;
}

.performance.active .accordeon-content .box-dados .first-sem .category h3,
.performance.active .accordeon-content .box-dados .second-sem .category h3 {
    line-height: 1;
    font-weight: 300;
    font-size: 1.75rem;
    padding-bottom: 3px;
    color: var(--summer-sky);
}

.performance.active .accordeon-content .box-dados .second-sem .category h3 {
    color: var(--wild-watermelon);
}

.performance.active .accordeon-content .box-dados .first-sem .pontos,
.performance.active .accordeon-content .box-dados .second-sem .pontos {
    display: flex;
    margin-left: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.performance.active .accordeon-content .box-dados .first-sem .pontos h3,
.performance.active .accordeon-content .box-dados .second-sem .pontos h3 {
    margin-top: 10px;
    line-height: 1.1;
    font-weight: 300;
    font-size: 0.75rem;
    color: var(--rock-blue);
}

.performance.active .accordeon-content .box-dados .first-sem .pontos h3 span,
.performance.active .accordeon-content .box-dados .second-sem .pontos h3 span {
    display: block;
    font-size: 1.875rem;
    color: var(--summer-sky);
}

.performance.active .accordeon-content .box-dados .second-sem .pontos h3 span {
    color: var(--wild-watermelon);
}

.performance.active .accordeon-content .box-dados .first-sem .date h4,
.performance.active .accordeon-content .box-dados .second-sem .date h4 {
    font-size: 1rem;
    font-weight: bold;
}

.performance.active .accordeon-content .box-dados .first-sem .date h4 span {
    display: block;
    color: var(--summer-sky);
}

.performance.active .accordeon-content .box-dados .second-sem .date h4 span {
    display: block;
    color: var(--wild-watermelon);
}


/* Performance: Anual */
.performance.active .accordeon-content .box-dados .titulo-anual {
    display: flex;
    flex: 0 0 150px;
    font-size: 0.8rem;
    margin-right: 60px;
    flex-direction: column;
    color: var(--rock-blue);
    justify-content: space-between;
}

.performance.active .accordeon-content .box-dados .titulo-anual h3 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.15;
    margin-bottom: 20px;
    color: var(--summer-sky);
}

.performance.active .accordeon-content .box-dados .info-anual {
    display: flex;
    flex: 0 0 65px;
    flex-direction: column;
    color: var(--rock-blue);
}

.performance.active .accordeon-content .box-dados .grafico {
    margin: 0 40px 0 30px;
}

.performance.active .accordeon-content .box-dados .info-anual span {
    font-size: 1.15rem;
}

.performance.active .accordeon-content .box-dados .info-anual h4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.15;
    color: var(--summer-sky);
}


/* Timeline + Conquistas */
.timeline .header,
.conquistas .header {
    height: 40px;
    display: flex;
    padding: 0 20px;
    position: relative;
    color: var(--white);
    align-items: center;
    background-color: var(--rock-blue);
}

.conquistas .header {
    background-color: var(--summer-sky);
}

.timeline .header .titulo,
.conquistas .header .titulo {
    display: flex;
    font-size: 1rem;
    font-weight: 300;
    padding-left: 10px;
    align-items: baseline;
}

.timeline .header .titulo span {
    font-size: 0.8rem;
    padding-left: 10px;
}

.timeline .header .badge {
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: .85rem;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--wild-watermelon);
    background-color: var(--light);
}

.timeline .comment,
.conquistas .content {
    padding: 20px;
    background-color: var(--white);
}

.conquistas .content {
    display: flex;
    list-style: none;
    padding: 30px 50px;
    flex-direction: column;
    justify-content: space-between;
}

.conquistas .content li:not(:last-child) {
    margin-bottom: 15px;
}

.conquistas .content .category-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--wild-watermelon);
    font: var(--titulo);
    font-size: 1.5rem;
}

.conquistas .content .category-title span {
    color: var(--rock-blue);
    margin-right: 20px;
}

.conquistas .content .category-title span strong {
    color: var(--wild-watermelon);
}


/* Card Home */
.card-home {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: var(--white);
}

.card-home .image {
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-home .image::before {
    content: "";
    display: block;
    padding-top: 52.5%;
}

.card-home .image .icon-play {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.card-home .content {
    padding: 20px;
    color: var(--spindle);
}

.card-home .content small {
    font-weight: 500;
    font-size: 0.8rem;
}

.card-home .content .titulo {
    max-width: 90%;
    margin: 10px 0;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.card-home .content .text {
    line-height: 1.75;
    color: var(--rock-blue);
}


/* Form Message */
.timeline .box-message {
    padding: 25px 20px 40px;
    background-color: var(--white);
}

.timeline .box-message .avatar-input {
    display: flex;
    align-items: center;
}

.timeline .box-message .avatar-input .timeline-textarea {
    padding: 15px;
    border: 1px solid var(--white);
}

.timeline .box-message .avatar-input .timeline-textarea::placeholder {
    font-size: .9rem;
    font-weight: bold;
    color: var(--wild-watermelon);
}

.timeline .box-message .group-buttons {
    display: flex;
    justify-content: flex-end;
}

.timeline .box-message .group-buttons .button {
    margin-left: 15px;
}


/* Post w/ Image */
.post-image .image {
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-image .image::before {
    content: "";
    display: block;
    padding-top: 42.5%;
}

.post-image .text {
    line-height: 1.5;
    color: var(--bright-grey);
}

.post-image .content {
    padding: 20px 30px;
    background-color: var(--white);
}

.post-image .social-tools,
.timeline .comment .user-comment .social-tools,
.timeline .comment .sub-comment .user-comment .social-tools {
    display: flex;
    margin-top: 20px;
    position: relative;
    justify-content: flex-start;
}

.post-image .social-tools .button-text-social,
.post-image .social-tools .button-text-social:hover,
.timeline .comment .user-comment .social-tools .button-text-social,
.timeline .comment .user-comment .social-tools .button-text-social:hover,
.timeline .comment .sub-comment .user-comment .social-tools .button-text-social,
.timeline .comment .sub-comment .user-comment .social-tools .button-text-social:hover {
    display: flex;
    font-size: 0.75rem;
    margin-right: 40px;
    align-items: center;
    text-emphasis: none;
    text-decoration: none;
    color: var(--rock-blue);
}

.post-image .social-tools .button-text-social svg,
.post-image .social-tools .button-text-social span, 
.timeline .comment .user-comment .social-tools svg,
.timeline .comment .user-comment .social-tools span,
.timeline .comment .sub-comment .user-comment .social-tools svg,
.timeline .comment .sub-comment .user-comment .social-tools span {
    margin-right: 5px;
}

.post-image .social-tools small,
.timeline .comment .user-comment .social-tools small,
.timeline .comment .sub-comment .user-comment .social-tools small {
    top: 50%;
    right: 0;
    position: absolute;
    color: var(--rock-blue);
    transform: translateY(-50%);
}


/* Timeline Coments */
.timeline .comments {
    padding: 20px 30px 40px;
    background-color: var(--solitude);
}

.timeline .comments .wrapper-input {
    position: relative;
    margin-bottom: 30px;
}

.timeline .comments .wrapper-input .input-message::placeholder {
    padding: 0 10px;
    font-size: 0.8rem;
}

.timeline .comments .wrapper-input .icon-send {
    top: 50%;
    z-index: 2;
    right: 15px;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
}

.timeline .comment  {
    display: flex;
    padding: 0 0 20px;
    margin-bottom: 20px;
    align-items: flex-start;
    background-color: var(--solitude);
    border-bottom: 1px solid var(--white);
}

.timeline .comment .user-avatar {
    display: flex;
    flex: 0 0 40px;
    align-items: flex-start;
}

.timeline .comment .user-comment {
    font-size: .9rem;
    padding-left: 20px;
}

.timeline .comment .user-comment .user-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--wild-watermelon);
}

.timeline .comment .user-comment .text {
    line-height: 1.5;
    margin-bottom: 10px;
    color: var(--bright-grey);
}


/* subcomentario */
.sub-comment {
    display: flex;
    flex-direction: column;
}

.sub-comment .wrapper-input {
    margin: 20px 0 0;
    position: relative;   
}

.sub-comment .user-response {
    display: flex;
    flex: 0 0 40px;
    align-items: flex-start;
}


/* Academy */
.wrapper-cards {
    width: 100%;
    margin: 0 auto;
    max-width: 820px;
}


/* Academy: Card Full */
.wrapper-cards .card-full {
    display: flex;
    cursor: pointer;
    max-height: 300px;
    margin-bottom: 20px;
    color: var(--rock-blue);
    box-shadow: var(--shadow);
    background-color: var(--white);
}

.wrapper-cards .card-full .content {
    flex: 1;
    padding: 30px;
    text-align: right;
}

.wrapper-cards .card-full .content .title {
    margin: 10px 0 30px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.wrapper-cards .card-full .image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 500px;
    flex: 0 1 65%;
}


/* Academy: Card Default */
.wrapper-cards .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-cards .cards .card {
    cursor: pointer;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    color: var(--rock-blue);
    box-shadow: var(--shadow);
    background-color: var(--white);
}

.wrapper-cards .cards .card.default {
    display: flex;
    flex-direction: column;
}

.wrapper-cards .cards .card.default .image {
    background-color: var(--light);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper-cards .cards .card.default .image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.wrapper-cards .cards .card.default .image .icon-play {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.wrapper-cards .cards .card.default .content {
    padding: 30px 30px 60px;
    position: relative;
    height: 100%;
}

.wrapper-cards .cards .card.default .content .title {
    margin: 10px 0 30px;
    font: var(--sub-titulo);
    color: var(--wild-watermelon);
}

.wrapper-cards .cards .card.default .content .icon {
    right: 30px;
    bottom: 30px;
    position: absolute;
}


/* Academy: Card Alternative */
.wrapper-cards .cards .card.alternative {   
    background-color: var(--light);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper-cards .cards .card.alternative .content {
    z-index: 1;
    height: 100%;
    display: flex;
    position: relative;
    color: var(--white);
    padding: 50px 30px 0;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-cards .cards .card.alternative .content .text {
    flex: 1;
    padding-top: 10px;
}

.wrapper-cards .cards .card.alternative .content .text .title  {
    margin: 10px 0;
    max-width: 80%;
    line-height: 1.2;
    font-weight: 200;
    font-size: 2.3rem;
}

.wrapper-cards .cards .card.alternative .content .icon-play svg {
    max-width: 80px;
}

.wrapper-cards .cards .card.alternative .content .icon {
    right: 30px;
    bottom: 30px;
    position: absolute;
}


/* Academy: Loading More */
.loading-more {
    width: 100%;
    margin: 0 auto;
    max-width: 820px;
    text-align: center;
    padding: 50px 0 70px;
}


/* Academy */
.list-quiz,
.box-video,
.box-message {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 820px;
    box-sizing: border-box;
}

.box-video {
    height: 0;
    position: relative;
    padding-bottom: 40%; /* 16:9 */
}

.box-video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.box-message {
    padding: 50px 0;
}

.box-message h3 {
    font: var(--sub-titulo);
    font-size: 1.25rem;
    line-height: 1.5;
}

.box-message.error {
    color: var(--red);
}

.box-message.error strong {
    display: block;
}

.list-quiz {
    list-style: none;
    counter-reset: my-counter;
}

.list-quiz .question {
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 40px;
}

.list-quiz li {
    position: relative;
    margin-bottom: 40px;
    padding: 5px 0 30px 70px;
    counter-increment: my-counter;
    border-bottom: 1px solid var(--spindle);
}

.list-quiz li::before {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--rock-blue);
    content: "" counter(my-counter);
    border: 1px solid var(--rock-blue);
}

.list-quiz li .input-radio label {
    margin-bottom: 20px;
}

.list-quiz li .input-radio label {
    font-weight: 300;
    line-height: 1.5;
}

/* Right Answer */
.list-quiz li.right-answer {
    color: var(--spindle);
}

.list-quiz li.right-answer::before {
    content: "";
    color: var(--success);
    border: 1px solid var(--success);
    background: url('../assets/images/icon-answer-right.svg') no-repeat center center;
}

.list-quiz li.right-answer .input-radio.right-answer {
    color: var(--success);
}

/* Wrong Answer */
.list-quiz li.wrong-answer::before {
    content: "";
    color: var(--red);
    border: 1px solid var(--red);
    background: url('../assets/images/icon-answer-wrong.svg') no-repeat center center;
}

.list-quiz li.wrong-answer .input-radio.wrong-answer label div {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    cursor: default;
    border: 4px solid transparent;
    background: url('../assets/images/icon-answer-wrong.svg') no-repeat center center;
}

.list-quiz li.wrong-answer .input-radio.wrong-answer {
    color: var(--red);
}

/* Quiz Congratulations */
.congrats {
    width: 100%;
    max-width: 820px;
    text-align: center;
    margin: 0 auto 30px;
    color: var(--rock-blue);
    letter-spacing: -1px;
    font-size: 1.65rem;
    font-weight: 300;
}

.congrats span {
    font: var(--sub-titulo);
    font-weight: 500;
    display: block;
}

.points {
    display: table;
    text-align: center;
    font: var(--titulo);
    letter-spacing: -1px;
    margin: 40px auto 20px;
    color: var(--wild-watermelon);
    line-height: 1;
}

.points small {
    display: block;
    font: var(--sub-titulo);
    color: var(--rock-blue);
    font-size: 1.25rem;
    line-height: 1;
}


/* Missões */
.tipos-missoes {
    display: flex;
    padding: 15px 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    background-color: var(--solitude);
}

.tipos-missoes .item {
    display: flex;
    position: relative;
    align-items: center;
}

.tipos-missoes .item::after {
    top: 50%;
    content: "";
    width: 1px;
    height: 40px;
    right: -60px;
    position: absolute;
    transform: translateY(-50%);
    background-color: #BACDDC;
}

.tipos-missoes .item h3 {
    color: var(--wild-watermelon);
    font: var(--sub-titulo);
    letter-spacing: -1px;
    margin-right: 10px;
    font-size: 2.5rem;
}

.tipos-missoes .item p {
    line-height: 1;
    font-weight: 400;
    font-size: 0.75rem;
}

.tipos-missoes .item.disabled h3,
.tipos-missoes .item.disabled p {
    color: var(--rock-blue);
}

.tipos-missoes .item:last-child::after {
    display: none;
}

.wrapper-cards.missoes {
    margin-bottom: 60px;
}

.wrapper-cards.missoes .cards .card {
    display: flex;
    flex-direction: column;
}

.wrapper-cards.missoes .cards .card .mission-content {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    padding: 30px 30px 15px;
    justify-content: space-between;
}

.wrapper-cards.missoes .cards .card .mission-content h3 {
    margin: 20px 0;
    text-align: center;
    letter-spacing: -1px;
    color: var(--wild-watermelon);
    font: var(--titulo);
    font-size: 2.25rem;
}

.wrapper-cards.missoes .cards .card .mission-content p.text {
    flex: 1;
    width: 90%;
    margin: 0 0 20px;
    font: var(--text);
    text-align: center;
    color: var(--bright-grey);
}

.wrapper-cards.missoes .cards .card .mission-content .validade {
    font-size: .9rem;
    font-weight: 500;
    color: var(--rock-blue);
}

.wrapper-cards.missoes .cards .card .button-card-primary {
    display: block;
    padding: 15px 0;
    font-weight: 500;
    border-radius: 0;
    text-align: center;
    font-size: 0.875rem;
    color: var(--white);
    background-color: var(--summer-sky);
}

.wrapper-cards.missoes .cards .card.disabled {
    color: var(--white);
    background-color: var(--rock-blue);
}

.wrapper-cards.missoes .cards .card.disabled .mission-content p,
.wrapper-cards.missoes .cards .card.disabled .mission-content h3 {
    color: var(--white);
}

.wrapper-cards.missoes .cards .card.disabled .mission-content .button-label-danger {
    font-weight: 500;
    color: var(--wild-watermelon);
    background-color: var(--white);
}

.wrapper-cards.missoes .cards .card.disabled .button-card-primary {
    display: none;
}

.wrapper-cards.missoes .cards .card.disabled .loading {
    display: flex;
    padding: 0 0 10px;
    align-items: center;
    flex-direction: column;
}

.wrapper-cards.missoes .cards .card.disabled .loading .bar {
    width: 85%;
    height: 5px;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.3);
}

.wrapper-cards.missoes .cards .card.disabled .loading .bar .fill {
    left: 0;
    width: 50%;
    height: 5px;
    position: absolute;
    background-color: var(--white);
}

.wrapper-cards.missoes .cards .card.disabled .loading span {
    font-size: 1rem;
    font-weight: bold;
}


/* Selos */



/* Modal */
body.has-modal-open {
    /* Utilizar essa classe quando o usuário abrir um modal,
     * evita que a página abaixo continue com scroll enquanto o modal estiver aberto
     * 
     * Ao fechar o modal, remover essa tag do body.
     */
    overflow: hidden;
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    position: fixed;
    padding: 60px 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal .modal-container {
    width: 100%;
    margin: 0 auto;
    max-width: 820px;
    box-shadow: var(--shadow);
    background-color: var(--white);
}
